@page "/"

<div class="container-fluid">

    <div class="row" style="margin-top:8px">
        <div class="d-inline-block" style="padding-right:10px; padding-left:10px; width:100%; height: 300px">

            <div id="trackbar_root" class="demo__body">
                <span class="irs-grid" style="width: 93.7291%; left: 3.03545%;">
                    <span class="irs-grid-pol" style="left: 0%"></span>
                    <span class="irs-grid-text js-grid-text-0" style="left: 0%; margin-left: -1.15097%;">0</span>
                    <span class="irs-grid-pol small" style="left: 20%"></span>
                    <span class="irs-grid-pol small" style="left: 15%"></span>
                    <span class="irs-grid-pol small" style="left: 10%"></span>
                    <span class="irs-grid-pol small" style="left: 5%"></span>
                    <span class="irs-grid-pol" style="left: 25%"></span>
                    <span class="irs-grid-text js-grid-text-1" style="left: 25%; visibility: visible; margin-left: -1.67355%;">25</span>
                    <span class="irs-grid-pol small" style="left: 45%"></span>
                    <span class="irs-grid-pol small" style="left: 40%"></span>
                    <span class="irs-grid-pol small" style="left: 35%"></span>
                    <span class="irs-grid-pol small" style="left: 30%"></span>
                    <span class="irs-grid-pol" style="left: 50%"></span>
                    <span class="irs-grid-text js-grid-text-2" style="left: 50%; visibility: visible; margin-left: -1.67355%;">50</span>
                    <span class="irs-grid-pol small" style="left: 70%"></span>
                    <span class="irs-grid-pol small" style="left: 65%"></span>
                    <span class="irs-grid-pol small" style="left: 60%"></span>
                    <span class="irs-grid-pol small" style="left: 55%"></span>
                    <span class="irs-grid-pol" style="left: 75%"></span>
                    <span class="irs-grid-text js-grid-text-3" style="left: 75%; visibility: visible; margin-left: -1.67355%;">75</span>
                    <span class="irs-grid-pol small" style="left: 95%">
                    </span><span class="irs-grid-pol small" style="left: 90%"></span>
                    <span class="irs-grid-pol small" style="left: 85%"></span>
                    <span class="irs-grid-pol small" style="left: 80%">
                    </span><span class="irs-grid-pol" style="left: 100%"></span>
                    <span class="irs-grid-text js-grid-text-4" style="left: 100%; margin-left: -2.19743%;">100</span>
                </span>

                <span class="irs-bar irs-bar--single" style="padding-left:10px; width: 21.8813%;"></span>
                <span class="irs-shadow shadow-single" style="display: none;"></span>
                <span class="irs-handle single" style="left: 18.7458%;"><i></i><i></i><i></i></span>

                <input id="ionRangeSlider" class="irs-hidden-input" type="text" name="" value="" tabindex="-1" readonly="" hidden>
            </div>

        </div>
    </div>
<<<<<<< HEAD
=======
    <div class="row" style="margin-top:8px">
        <div class="d-inline-block" style="padding-right:10px; padding-left:10px; width:100%; height: 300px">

            <div id="trackbar_root_marks" class="demo__body">
                <span class="irs-grid" style="width: 93.7291%; left: 3.03545%;">
                    <span class="irs-grid-pol" style="left: 0%"></span>
                    <span class="irs-grid-text js-grid-text-0" style="left: 0%; margin-left: -1.15097%;">0</span>
                    <span class="irs-grid-pol small" style="left: 20%"></span>
                    <span class="irs-grid-pol small" style="left: 15%"></span>
                    <span class="irs-grid-pol small" style="left: 10%"></span>
                    <span class="irs-grid-pol small" style="left: 5%"></span>
                    <span class="irs-grid-pol" style="left: 25%"></span>
                    <span class="irs-grid-text js-grid-text-1" style="left: 25%; visibility: visible; margin-left: -1.67355%;">25</span>
                    <span class="irs-grid-pol small" style="left: 45%"></span>
                    <span class="irs-grid-pol small" style="left: 40%"></span>
                    <span class="irs-grid-pol small" style="left: 35%"></span>
                    <span class="irs-grid-pol small" style="left: 30%"></span>
                    <span class="irs-grid-pol" style="left: 50%"></span>
                    <span class="irs-grid-text js-grid-text-2" style="left: 50%; visibility: visible; margin-left: -1.67355%;">50</span>
                    <span class="irs-grid-pol small" style="left: 70%"></span>
                    <span class="irs-grid-pol small" style="left: 65%"></span>
                    <span class="irs-grid-pol small" style="left: 60%"></span>
                    <span class="irs-grid-pol small" style="left: 55%"></span>
                    <span class="irs-grid-pol" style="left: 75%"></span>
                    <span class="irs-grid-text js-grid-text-3" style="left: 75%; visibility: visible; margin-left: -1.67355%;">75</span>
                    <span class="irs-grid-pol small" style="left: 95%">
                    </span><span class="irs-grid-pol small" style="left: 90%"></span>
                    <span class="irs-grid-pol small" style="left: 85%"></span>
                    <span class="irs-grid-pol small" style="left: 80%">
                    </span><span class="irs-grid-pol" style="left: 100%"></span>
                    <span class="irs-grid-text js-grid-text-4" style="left: 100%; margin-left: -2.19743%;">100</span>
                </span>

                <span class="irs-bar irs-bar--single" style="padding-left:10px; width: 21.8813%;"></span>
                <span class="irs-shadow shadow-single" style="display: none;"></span>
                <span class="irs-handle single" style="left: 18.7458%;"><i></i><i></i><i></i></span>

                <input id="ionRangeSliderMarks" class="irs-hidden-input" type="text" name="" value="" tabindex="-1" readonly="" hidden>
            </div>

        </div>
    </div>
    <button class="btn btn-primary" @onclick="onClickBtn">Add Step</button>

>>>>>>> 09fa65ae971eb1177dbb6fb0f28130d16ee8ee39
</div>